<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>video listing</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" crossorigin="anonymous" referrerpolicy="no-referrer" />
  </head>
  <body>
  <div class="top d-flex py-3 px-5 mx-5">
    <div class="front align-items-center">
      <i class="fa-solid fa-circle-play fa-2xl" style="color: rgb(232, 13, 13);"> Videx</i>
    </div>
    <div class="ms-auto">
      <button type="button" onclick="window.location.href='{% url 'upload_video' %}'" class="btn btn-outline-danger btn-lg">Add Video</button>
    </div>
  </div>
  <p style="font-size: 24px; font-weight: bold;">Videos</p>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
